In [63]:
from fpdf import FPDF
import pandas as pd
import numpy as np
import math

In [23]:
df = pd.read_excel('D9 BOARDGAME FACTORY PACKING LIST_FINAL.xlsx', sheet_name='data', header=1)
df

,CONFIG,ORDER #,SKU-D9-56EXPANSION,SKU-D9-ALLY-PACK,SKU-D9-BASE-GAME,SKU-D9-EXTRA-MINIS,SKU-D9-PUDDI-CAN,SKU-D9-SLEEVES,SKU-D9-TOKENS,Total items in Carton,WarehoUS - Transgroupe,Shipping Country
0,1,1676261,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Austria
1,1,1676223,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Germany
2,1,1677235,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Germany
3,1,1677294,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Hungary
4,1,1677295,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Poland
...,...,...,...,...,...,...,...,...,...,...,...,...
857,45,1676591,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,US - Transgroup,United States
858,45,1751954,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,US - Transgroup,United States
859,45,1676511,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,US - Transgroup,United States
860,46,1676497,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1,US - Transgroup,United States
861,46,Grand Total,787.0,732.0,897.0,91.0,722.0,725.0,758.0,4712,NaN,NaN

In [26]:
df.head()

,CONFIG,ORDER #,SKU-D9-56EXPANSION,SKU-D9-ALLY-PACK,SKU-D9-BASE-GAME,SKU-D9-EXTRA-MINIS,SKU-D9-PUDDI-CAN,SKU-D9-SLEEVES,SKU-D9-TOKENS,Total items in Carton,WarehoUS - Transgroupe,Shipping Country
0,1,1676261,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Austria
1,1,1676223,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Germany
2,1,1677235,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Germany
3,1,1677294,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Hungary
4,1,1677295,4.0,4.0,4.0,NaN,4.0,4.0,4.0,24,EU - Neelevat,Poland

In [30]:
cols = df.columns

In [90]:
def create_label(row, cols):
    pdf = FPDF(orientation='p', unit='mm', format=(150, 160))
    pdf.add_page()
    pdf.set_font("Arial", size=14)
    
    for col in cols:
        if col.startswith("SKU") and math.isnan(row[col]):
            continue
        top = pdf.y
        offset = pdf.x + 80
        pdf.multi_cell(80, 10, col, 0, 0)
        pdf.y = top
        pdf.x = offset
        if col.startswith("SKU"): 
            pdf.multi_cell(100, 10, str(int(row[col])))
        else:
            pdf.multi_cell(100, 10, str(row[col]))
    filename = f"./labels/label-{row['CONFIG']}-{row['ORDER #']}.pdf"
    pdf.output(filename, "F")

In [92]:
for index, row in df.iterrows():
    create_label(row, cols)